<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.dao.IStudentCourseDao">

	<resultMap type="Students" id="studentMapper">
		<id column="sid" property="sid"/>
		<result column="sname" property="sname"/>
		<collection property="courses" ofType="Course">
			<id column="cid" property="cid"/>
			<result column="cname" property="cname"/>
		</collection>
	</resultMap>
	
	<select id="selectStudentsById" resultMap="studentMapper">
		select sid,sname,cid,cname from students,middle,course where sid=studentId and cid=courseId and sid=#{sid}
	</select>
</mapper>